* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Muli', sans-serif;
}

.capitalize {
    text-transform: capitalize;
}

.title-style {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #044a86;
}

.btn {
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #044a86;
}
/*
.fixed {
    position: fixed;
    z-index: 900;
} */

/*Estilo de Header */

header {
    background-color: #e9ada3;
    line-height: 100px;
    overflow: auto;
}

header h1 {
    color: #fff;
    display: inline-block;
}

/*Estilo del menú */

.menu {
    float: right;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    margin-right: 15px;
    display: inline-block;
}

.menu ul li:hover {
    color: #fff;
    cursor: pointer;
}

.nav-bar {
    display: none;

}

section.imagen {
    background-image: url("../assets/images/santorini.jpg");
    background-size: cover;
    height: 500px;
    text-align: center;
    line-height: 500px;
}

section.imagen h1 {
 color:#fff;
}

/*Estilos imagen central */

section.imagen {
    background-image: url("../assets/images/santorini.jpg");
    background-size: cover;
    height: 500px;
    text-align: center;
    /*text-transform: uppercase; */
    line-height: 500px;
}

section.imagen h1 {
 color:#fff;
}


/*Estilo de la sección information */

section.information {
    margin-top: 20px;
}


section.information p.text {
    text-align: justify;
}

input.see {
    padding: 10px 30px;
}

section.information input:hover{
    cursor: pointer;
    color: #044a86;
    background-color: #f5c7b1;
}

/*Estilo de la seccion gallery */

.dinner {
    width: 100%;
    height: 182px;
} 


.gallery {
    margin-top: 40px;
} 

.text p {
    text-align: justify;
    width: 90%;
    margin-bottom: 10px;
} 

input.find {
   padding: 10px 20px;
}



@media screen and (max-width: 768px) {
    .nav-bar {   
        display: inline-block;
    }

    .menu {
        display: none;
    }

    header h1 {
        font-size: 18px;;
    }

    .plis {
        width: 80% !important;
    }

    .contact {
        margin-top: 20px;
        clear: both;
        width: 80% !important;
    }
}